<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advertiser.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @advertiser.address %>
</p>

<p>
  <strong>Cif:</strong>
  <%= @advertiser.cif %>
</p>

<p>
  <strong>City:</strong>
  <%= @advertiser.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @advertiser.postal_code %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @advertiser.bank %>
</p>

<p>
  <strong>Paypal:</strong>
  <%= @advertiser.paypal %>
</p>

<p>
  <strong>Other:</strong>
  <%= @advertiser.other %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advertiser.price %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @advertiser.start_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @advertiser.duration %>
</p>

<p>
  <strong>Url1:</strong>
  <%= @advertiser.url1 %>
</p>

<p>
  <strong>Url2:</strong>
  <%= @advertiser.url2 %>
</p>

<p>
  <strong>Url3:</strong>
  <%= @advertiser.url3 %>
</p>

<p>
  <strong>Active url:</strong>
  <%= @advertiser.active_url %>
</p>

<p>
  <strong>Active:</strong>
  <%= @advertiser.active %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @advertiser.entity %>
</p>

<%= link_to 'Edit', edit_advertiser_path(@advertiser) %> |
<%= link_to 'Back', advertisers_path %>
