<h1>Pistas disponibles en <%= @city.name %></h1>
<% @city.fields.each do |field| %>
<p>
    <div class="row">
      <div class="col-md-4">
          <% case field.kind %>
            <% when 'futbol'%>
              <%= link_to image_tag(field.url1, class:"img-rounded", alt: "Futbol"),'http://rubyonrails.org/' %>
            <% when 'futsal'%>
              <%= link_to image_tag("polillerena.jpg", class:"img-rounded", alt: "Futbol sala"),'http://rubyonrails.org/' %>
            <% when 'padel'%>
              <%= link_to image_tag("raqueta_padel.jpg", class:"img-rounded", alt: "Padel"),'http://rubyonrails.org/' %>
            <% when 'pingpong'%>
              <%= link_to image_tag("pingpong.jpg", class:"img-rounded", alt: "Ping Pong"),'http://rubyonrails.org/' %>
            <% when 'tenis'%>
              <%= link_to image_tag("raqueta_tenis.jpg", class:"img-rounded", class:"img-rounded", alt: "Tenis"),'http://rubyonrails.org/' %>
          <% end %>
      </div>
      <div class="col-md-8">
        <p><h2><%= field.name %></h2></p>
        <p><%= field.other %></p>

      </div>
    </div>
</p>
<% end %>
