<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field_id %>
    <%= f.text_field :field_id %>
  </div>

  <div class="field">
    <%= f.label :h0 %>
    <%= f.number_field :h0 %>
  </div>

  <div class="field">
    <%= f.label :h1 %>
    <%= f.number_field :h1 %>
  </div>

  <div class="field">
    <%= f.label :h2 %>
    <%= f.number_field :h2 %>
  </div>

  <div class="field">
    <%= f.label :h3 %>
    <%= f.number_field :h3 %>
  </div>

  <div class="field">
    <%= f.label :h4 %>
    <%= f.number_field :h4 %>
  </div>

  <div class="field">
    <%= f.label :h5 %>
    <%= f.number_field :h5 %>
  </div>

  <div class="field">
    <%= f.label :h6 %>
    <%= f.number_field :h6 %>
  </div>

  <div class="field">
    <%= f.label :h7 %>
    <%= f.number_field :h7 %>
  </div>

  <div class="field">
    <%= f.label :h8 %>
    <%= f.number_field :h8 %>
  </div>

  <div class="field">
    <%= f.label :h9 %>
    <%= f.number_field :h9 %>
  </div>

  <div class="field">
    <%= f.label :h10 %>
    <%= f.number_field :h10 %>
  </div>

  <div class="field">
    <%= f.label :h11 %>
    <%= f.number_field :h11 %>
  </div>

  <div class="field">
    <%= f.label :h12 %>
    <%= f.number_field :h12 %>
  </div>

  <div class="field">
    <%= f.label :h13 %>
    <%= f.number_field :h13 %>
  </div>

  <div class="field">
    <%= f.label :h14 %>
    <%= f.number_field :h14 %>
  </div>

  <div class="field">
    <%= f.label :h15 %>
    <%= f.number_field :h15 %>
  </div>

  <div class="field">
    <%= f.label :h16 %>
    <%= f.number_field :h16 %>
  </div>

  <div class="field">
    <%= f.label :h17 %>
    <%= f.number_field :h17 %>
  </div>

  <div class="field">
    <%= f.label :h18 %>
    <%= f.number_field :h18 %>
  </div>

  <div class="field">
    <%= f.label :h19 %>
    <%= f.number_field :h19 %>
  </div>

  <div class="field">
    <%= f.label :h20 %>
    <%= f.number_field :h20 %>
  </div>

  <div class="field">
    <%= f.label :h21 %>
    <%= f.number_field :h21 %>
  </div>

  <div class="field">
    <%= f.label :h22 %>
    <%= f.number_field :h22 %>
  </div>

  <div class="field">
    <%= f.label :h23 %>
    <%= f.number_field :h23 %>
  </div>

  <div class="field">
    <%= f.label :h24 %>
    <%= f.number_field :h24 %>
  </div>

  <div class="field">
    <%= f.label :h25 %>
    <%= f.number_field :h25 %>
  </div>

  <div class="field">
    <%= f.label :h26 %>
    <%= f.number_field :h26 %>
  </div>

  <div class="field">
    <%= f.label :h27 %>
    <%= f.number_field :h27 %>
  </div>

  <div class="field">
    <%= f.label :h28 %>
    <%= f.number_field :h28 %>
  </div>

  <div class="field">
    <%= f.label :h29 %>
    <%= f.number_field :h29 %>
  </div>

  <div class="field">
    <%= f.label :h30 %>
    <%= f.number_field :h30 %>
  </div>

  <div class="field">
    <%= f.label :h31 %>
    <%= f.number_field :h31 %>
  </div>

  <div class="field">
    <%= f.label :h32 %>
    <%= f.number_field :h32 %>
  </div>

  <div class="field">
    <%= f.label :h33 %>
    <%= f.number_field :h33 %>
  </div>

  <div class="field">
    <%= f.label :h34 %>
    <%= f.number_field :h34 %>
  </div>

  <div class="field">
    <%= f.label :h35 %>
    <%= f.number_field :h35 %>
  </div>

  <div class="field">
    <%= f.label :h36 %>
    <%= f.number_field :h36 %>
  </div>

  <div class="field">
    <%= f.label :h37 %>
    <%= f.number_field :h37 %>
  </div>

  <div class="field">
    <%= f.label :h38 %>
    <%= f.number_field :h38 %>
  </div>

  <div class="field">
    <%= f.label :h39 %>
    <%= f.number_field :h39 %>
  </div>

  <div class="field">
    <%= f.label :h40 %>
    <%= f.number_field :h40 %>
  </div>

  <div class="field">
    <%= f.label :h41 %>
    <%= f.number_field :h41 %>
  </div>

  <div class="field">
    <%= f.label :h42 %>
    <%= f.number_field :h42 %>
  </div>

  <div class="field">
    <%= f.label :h43 %>
    <%= f.number_field :h43 %>
  </div>

  <div class="field">
    <%= f.label :h44 %>
    <%= f.number_field :h44 %>
  </div>

  <div class="field">
    <%= f.label :h45 %>
    <%= f.number_field :h45 %>
  </div>

  <div class="field">
    <%= f.label :h46 %>
    <%= f.number_field :h46 %>
  </div>

  <div class="field">
    <%= f.label :h47 %>
    <%= f.number_field :h47 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
