<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @schedule.field %>
</p>

<p>
  <strong>Monthday:</strong>
  <%= @schedule.monthday %>
</p>

<p>
  <strong>H0:</strong>
  <%= @schedule.h0 %>
</p>

<p>
  <strong>H1:</strong>
  <%= @schedule.h1 %>
</p>

<p>
  <strong>H2:</strong>
  <%= @schedule.h2 %>
</p>

<p>
  <strong>H3:</strong>
  <%= @schedule.h3 %>
</p>

<p>
  <strong>H4:</strong>
  <%= @schedule.h4 %>
</p>

<p>
  <strong>H5:</strong>
  <%= @schedule.h5 %>
</p>

<p>
  <strong>H6:</strong>
  <%= @schedule.h6 %>
</p>

<p>
  <strong>H7:</strong>
  <%= @schedule.h7 %>
</p>

<p>
  <strong>H8:</strong>
  <%= @schedule.h8 %>
</p>

<p>
  <strong>H9:</strong>
  <%= @schedule.h9 %>
</p>

<p>
  <strong>H10:</strong>
  <%= @schedule.h10 %>
</p>

<p>
  <strong>H11:</strong>
  <%= @schedule.h11 %>
</p>

<p>
  <strong>H12:</strong>
  <%= @schedule.h12 %>
</p>

<p>
  <strong>H13:</strong>
  <%= @schedule.h13 %>
</p>

<p>
  <strong>H14:</strong>
  <%= @schedule.h14 %>
</p>

<p>
  <strong>H15:</strong>
  <%= @schedule.h15 %>
</p>

<p>
  <strong>H16:</strong>
  <%= @schedule.h16 %>
</p>

<p>
  <strong>H17:</strong>
  <%= @schedule.h17 %>
</p>

<p>
  <strong>H18:</strong>
  <%= @schedule.h18 %>
</p>

<p>
  <strong>H19:</strong>
  <%= @schedule.h19 %>
</p>

<p>
  <strong>H20:</strong>
  <%= @schedule.h20 %>
</p>

<p>
  <strong>H21:</strong>
  <%= @schedule.h21 %>
</p>

<p>
  <strong>H22:</strong>
  <%= @schedule.h22 %>
</p>

<p>
  <strong>H23:</strong>
  <%= @schedule.h23 %>
</p>

<p>
  <strong>H24:</strong>
  <%= @schedule.h24 %>
</p>

<p>
  <strong>H25:</strong>
  <%= @schedule.h25 %>
</p>

<p>
  <strong>H26:</strong>
  <%= @schedule.h26 %>
</p>

<p>
  <strong>H27:</strong>
  <%= @schedule.h27 %>
</p>

<p>
  <strong>H28:</strong>
  <%= @schedule.h28 %>
</p>

<p>
  <strong>H29:</strong>
  <%= @schedule.h29 %>
</p>

<p>
  <strong>H30:</strong>
  <%= @schedule.h30 %>
</p>

<p>
  <strong>H31:</strong>
  <%= @schedule.h31 %>
</p>

<p>
  <strong>H32:</strong>
  <%= @schedule.h32 %>
</p>

<p>
  <strong>H33:</strong>
  <%= @schedule.h33 %>
</p>

<p>
  <strong>H34:</strong>
  <%= @schedule.h34 %>
</p>

<p>
  <strong>H35:</strong>
  <%= @schedule.h35 %>
</p>

<p>
  <strong>H36:</strong>
  <%= @schedule.h36 %>
</p>

<p>
  <strong>H37:</strong>
  <%= @schedule.h37 %>
</p>

<p>
  <strong>H38:</strong>
  <%= @schedule.h38 %>
</p>

<p>
  <strong>H39:</strong>
  <%= @schedule.h39 %>
</p>

<p>
  <strong>H40:</strong>
  <%= @schedule.h40 %>
</p>

<p>
  <strong>H41:</strong>
  <%= @schedule.h41 %>
</p>

<p>
  <strong>H42:</strong>
  <%= @schedule.h42 %>
</p>

<p>
  <strong>H43:</strong>
  <%= @schedule.h43 %>
</p>

<p>
  <strong>H44:</strong>
  <%= @schedule.h44 %>
</p>

<p>
  <strong>H45:</strong>
  <%= @schedule.h45 %>
</p>

<p>
  <strong>H46:</strong>
  <%= @schedule.h46 %>
</p>

<p>
  <strong>H47:</strong>
  <%= @schedule.h47 %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
