<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "POLIGOL", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Reservas",   root_path %></li>
        <li><%= link_to "Tour",   static_pages_tour_path %></li>
        <li><%= link_to "Testimonios",   static_pages_testimonials_path %></li>
        <li><%= link_to "Precio",   static_pages_pricing_path %></li>
        <li><%= link_to "Contacto",   static_pages_contact_path %></li>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><%= link_to "Account", edit_user_registration_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </ul>
    </nav>
  </div>
</header>
